/* ===== ESTILO GENERAL ===== */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* TÍTULO */
h1 {
    font-family: "Segoe UI", "Trebuchet MS", Arial, sans-serif;
    font-size: 40px;
    color: #21221c;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
}

/* CONTROLES */
.controls {
    margin-bottom: 20px;
}

input {
    width: 320px;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    background-color: #15c742;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

button:hover {
    background-color: #1cdf26;
}

/* ===== GALERÍA ===== */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    padding: 20px;
}

/* TARJETAS DE IMÁGENES */
.gallery img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(68, 163, 226, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* EFECTO AL PASAR EL MOUSE */
.gallery img:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 30px rgba(107, 197, 34, 0.45);
}

/* IMAGEN SELECCIONADA */
.selected {
    transform: scale(1.3);
    z-index: 10;
    border: 4px solid #5f0707;
    box-shadow: 0 25px 50px rgba(177, 223, 11, 0.8);
    background-color: #0d30ce;
    transition: all 0.3s ease;
}